<%- include("includes/head.ejs" , {title : post.username}) %>
<body>
    <div class="posts">
        <div class="post">
            <h1 class="user"><%= post.username %></h1>
            <h3 class="content"> <%= post.content %> </h3>
    
            <form action="#">
                <button>Delete</button>
            </form>
    
            <form action="#">
                <button>Edit</button>
            </form>
    
        </div>
    </div>


    <form action="/posts" method="get">
        <button>Show all posts</button>
    </form>
</body>
</html>